body {
  width: 100%;
  height: 100vh;
}

.bg-custom-light {
  background-color: #ecececce;
}

.custom-margin {
  margin-left: 6%;
  margin-right: 6%;
}

/* .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: white !important;
}
.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */

.bg-image-section {
  background-image: url("/Assets/images/randiya-sea-view-hotel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(0.3);
  display: block;
}

.content-section {
  height: 100vh;
}

.custom-font {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
  color: thistle;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.img-rooms {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-gridBackground {
  background-color: rgba(189, 189, 189, 0.726);
}
.img-fluid {
  width: 100%;
  height: fit-content;
}
.image-section {
  width: 80%;
  height: 40vh;
}
.container-fluid {
  padding: 0;
}

.background-img {
  z-index: 1;
  height: 70vh !important;
  width: 100%;
}

.bg-image img {
  object-fit: cover;
}
.custom-marginbox {
  margin-top: 150px;
  margin-bottom: 150px;
}
.custom-position {
  position: relative;
  left: 260px;
  bottom: 250px;
  z-index: 2;
}

.custom-Backgrounds {
  background-color: rgb(230, 230, 230);
}

.custom-margin-cards {
  margin-top: 100px;
}
